.flexArea {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 600px;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .flexArea {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    flex-direction: column;
  }
}
