.flexArea {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flexButton a {
  display: flex;
  color: #000000;
  background-color: #e1e1e1;
  border: 1px solid #808080;
  text-align: left;
  align-items: center;
  text-decoration: none;
  margin: 1px;
  width: 200px;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}

.flexButton a:hover {
  background-color: #cccccc;
}

.GoogleFormIcon {
  content: url(../../assets/icons/google-forms.svg);
  width: 32px;
  height: 32px;
}

.GitHubIcon {
  content: url(../../assets/icons/GitHub-Mark-32px.png);
  width: 32px;
  height: 32px;
}
