.profileGrid {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-row: auto;
}

@media screen and (max-width: 800px) {
  .profileGrid {
    grid-template-columns: repeat(10, 1fr);
  }
}
