h1 {
  margin-top: 0;
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
}

h1 > * {
  margin: 5px;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  height: 30px;
}

h3 > * {
  margin: 5px;
}

input[type='button'] {
  padding: 5px;
  border: 3px solid #636363;
  border-radius: 5px;
}

input[type='button']:hover {
  background-color: #979797;
}

.highlightText {
  color: mediumblue;
  font-weight: 700;
}

.sidebarOverlay__r9CJz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebarContent__QUi\+P {
  position: fixed;
  top: 0;
  left: 0;
  width: 45vw;
  height: 100%;
  overflow: auto;
  z-index: 999;
  background-color: white;
}

button {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.navButton__0SqJv {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 64px;
  height: 64px;
  padding: 8px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}

.navIcon__A\+BCb {
  content: url(/TaiwanVtuberData-Preact/d1be5cd37bd7f38b776669e873874892.png);
  width: 48px;
  height: 48px;
}

.xButton__oBNNg {
  position: relative;
  top: 1%;
  left: 1%;
  width: 64px;
  height: 64px;
  padding: 8px;
  z-index: 999;
}

.xIcon__IzjSm {
  content: url(/TaiwanVtuberData-Preact/af891809934d76ef134eac823f6fab2e.png);
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 480px) {
  .navButton__0SqJv {
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  .navIcon__A\+BCb {
    width: 24px;
    height: 24px;
  }

  .xButton__oBNNg {
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  .xIcon__IzjSm {
    width: 24px;
    height: 24px;
  }
}

.navGrid__1hJMb {
  margin-top: 20px;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
}

.gridItem__bx73M {
  height: 50px;
}

.gridItem__bx73M a {
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  background-color: #e1e1e1;
  border: 1px solid #808080;
  text-align: left;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  margin: 1px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gridItem__bx73M a:hover {
  background-color: #cccccc;
}

.dropDown__t7FuN {
  border: 3px solid #636363;
  border-radius: 5px;
}

.YouTubeImg__LvwUa {
  content: url(/TaiwanVtuberData-Preact/e9de82b38d0f0c1f717a69f6d4a58f3d.png);
  width: 48px;
  height: 48px;
}

.TwitchImg__ckBvR {
  content: url(/TaiwanVtuberData-Preact/5e9a0314aec235a0f7851a98eb5db19f.png);
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1280px) {
  .YouTubeImg__LvwUa {
    width: 32px;
    height: 32px;
  }

  .TwitchImg__ckBvR {
    width: 32px;
    height: 32px;
  }
}

.profileImg__DvgtD {
  width: 66px;
  height: 66px;
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .profileImg__DvgtD {
    width: 44px;
    height: 44px;
  }
}

/* copied from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip__vtGmz {
  position: relative;
  display: inline-block;
}

.tooltip__vtGmz .tooltipText__pA-zc {
  visibility: hidden;
  min-width: 120px;
  max-width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
}

.tooltip__vtGmz:hover .tooltipText__pA-zc {
  visibility: visible;
}

.questionMark__RT3wD {
  content: url(/TaiwanVtuberData-Preact/834dbaf0aa4b168079983723a8948317.png);
  width: 24px;
  height: 24px;
}

.tableGrid__Ju0u9 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
}

@media screen and (max-width: 800px) {
  .tableGrid__Ju0u9 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
  }
}

.tableGrid__Ju0u9 .tableItem__iikA\+ {
  margin: 10px;
}

.textField__bDpXR {
  border: 3px solid #636363;
  border-radius: 5px;
}

.button__maFzS {
  float: right;
  border: 3px solid #636363;
  border-radius: 5px;
}

.x4dKXRdnDI9qgFfe4BsDUQ\=\= {
  background-color: #e6e6e6;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 3px solid #636363;
  border-radius: 5px;
}

.x4dKXRdnDI9qgFfe4BsDUQ\=\=:hover {
  background-color: #f1f1f1;
}

.R1T8\+hwxvBovrVdGHizUFw\=\= > * {
  margin: 1px;
}

.profileGrid__glJEL {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-row: auto;
}

@media screen and (max-width: 800px) {
  .profileGrid__glJEL {
    grid-template-columns: repeat(10, 1fr);
  }
}

.notfound__Ecgkh {
  padding: 0 5%;
  margin: 100px 0;
}

.thumbnail__BdvoG {
  max-width: 100%;
  border: 1px solid black;
}

.tipText__4DHD3 {
  margin-right: 5px;
}

.dropDown__6WU99 {
  border: 3px solid #636363;
  border-radius: 5px;
}

.calendar__lHzCH {
  border-collapse: collapse;
  position: relative;
  width: 100%;
  min-height: 700px;
  height: 85vh;
  margin-top: 5px;
}

.flexArea__v\+tPG {
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.flexButton__KUz4F a {
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  background-color: #e1e1e1;
  border: 1px solid #808080;
  text-align: left;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  margin: 1px;
  width: 200px;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}

.flexButton__KUz4F a:hover {
  background-color: #cccccc;
}

.GoogleFormIcon__Jbfuv {
  content: url(/TaiwanVtuberData-Preact/0deb6f6635f63db7f5296af002671739.png);
}

.GitHubIcon__7OXUQ {
  content: url(/TaiwanVtuberData-Preact/0035c307a36c17babb8d25cd02fb6488.png);
}

.scrollToTopBottom__9cupg {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fadeIn__CgoDN 700ms ease-in-out 1s both;
          animation: fadeIn__CgoDN 700ms ease-in-out 1s both;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
}

.scrollToTopBottom__9cupg > * {
  margin: 1px;
}

@-webkit-keyframes fadeIn__CgoDN {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn__CgoDN {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrollToTopBottom__9cupg .scrollButton__tWotF {
  width: 150px;
  height: 30px;
  text-align: center;
  background-color: white;
  border: 3px solid #636363;
  border-radius: 5px;
}

/* The Modal (background) */
.modal__3n1Pc {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 999;
}

/* Modal Content */
.modalContent__58Ma- {
  margin: auto;
  width: 80%;
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.modalContent__58Ma- iframe {
  width: 75vw;
  height: 42.1875vw;
  max-height: 75vh;
  max-width: 133.3333vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0; /* vertical center */
  left: 0;
  right: 0; /* horizontal center */
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .modalContent__58Ma- iframe {
    width: 90vw;
    height: 50.625vw;
    max-height: 90vh;
    max-width: 160vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0; /* vertical center */
    left: 0;
    right: 0; /* horizontal center */
    background-color: transparent;
  }
}

/* The Close Button */
.closeButton__j6wxr {
  color: #000000;
  float: right;
  font-size: 100px;
  font-weight: bold;
}

.closeButton__j6wxr:hover,
.closeButton__j6wxr:focus {
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}


/*# sourceMappingURL=ssr-bundle.02775.css.map*/