h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.highlightText {
  color: mediumblue;
  font-weight: 700;
}

button {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.sidebarOverlay__r9CJz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebarContent__QUi\+P {
  position: fixed;
  top: 0;
  left: 0;
  width: 45vw;
  height: 100%;
  overflow: auto;
  z-index: 999;
  background-color: white;
}

.navButton__0SqJv {
  position: fixed;
  top: 15px;
  left: 15px;
  max-width: 5vw;
  max-height: 5vw;
  padding: 8px;
  z-index: 999;
}

.navIcon__A\+BCb {
  content: url(/TaiwanVtuberData-Preact/d1be5cd37bd7f38b776669e873874892.png);
  width: 100%;
  height: 100%;
}

.xButton__oBNNg {
  position: relative;
  top: 15px;
  left: 15px;
  max-width: 5vw;
  max-height: 5vw;
  padding: 8px;
  z-index: 999;
}

.xIcon__IzjSm {
  content: url(/TaiwanVtuberData-Preact/af891809934d76ef134eac823f6fab2e.png);
  width: 100%;
  height: 100%;
}

.navGrid__1hJMb {
  margin-top: 20px;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
}

.gridItem__bx73M {
  height: 50px;
}

.gridItem__bx73M a {
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  background-color: #e1e1e1;
  border: 1px solid #808080;
  text-align: left;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  margin: 1px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gridItem__bx73M a:hover {
  background-color: #cccccc;
}

.dropDown__t7FuN {
  border: 3px solid #636363;
  border-radius: 5px;
}

.home__uRcqa {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.YouTubeImg__LvwUa {
  content: url(/TaiwanVtuberData-Preact/e9de82b38d0f0c1f717a69f6d4a58f3d.png);
  width: 48px;
  height: 48px;
}

.TwitchImg__ckBvR {
  content: url(/TaiwanVtuberData-Preact/5e9a0314aec235a0f7851a98eb5db19f.png);
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1280px) {
  .YouTubeImg__LvwUa {
    width: 32px;
    height: 32px;
  }

  .TwitchImg__ckBvR {
    width: 32px;
    height: 32px;
  }
}

.profileImg__DvgtD {
  width: 66px;
  height: 66px;
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .profileImg__DvgtD {
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 800px) {
  .profileImg__DvgtD {
    width: 33px;
    height: 33px;
  }
}

.textField__bDpXR {
  border: 3px solid #636363;
  border-radius: 5px;
}

.button__maFzS {
  float: right;
  border: 3px solid #636363;
  border-radius: 5px;
}

.rdt_Table a {
  background-color: transparent;
  border: transparent;
  text-decoration: none;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.12);
}

.rdt_Table a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.notfound__Ecgkh {
  padding: 0 5%;
  margin: 100px 0;
}


/*# sourceMappingURL=ssr-bundle.39f35.css.map*/