.groupLink {
  background-color: #e6e6e6;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 3px solid #636363;
  border-radius: 5px;
}

.groupLink:hover {
  background-color: #f1f1f1;
}
