h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.highlightText {
  color: mediumblue;
  font-weight: 700;
}

button {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
