h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h1 > * {
  margin: 5px;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 > * {
  margin: 5px;
}

.highlightText {
  color: mediumblue;
  font-weight: 700;
}
