.container {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.profileImageFlex {
  flex-grow: 0;

  cursor: pointer;
}

.nameFlex {
  width: 100%;
  text-align: left;
  margin-left: 3px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .nameFlex {
    width: 100%;
    text-align: center;
    height: 20px;
  }
}
