.modal {
  position: fixed;
  top: 60%;
  left: 5%;
  text-align: right;
  white-space: nowrap;
  border: 3px solid #636363;
  border-radius: 5px;
  margin: 5px;
  z-index: 998;
  background-color: #e1e1e1;
}

.modal:hover {
  background-color: #979797;
}
