.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebarContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 45vw;
  height: 100%;
  overflow: auto;
  z-index: 999;
  background-color: white;
}

@media screen and (max-width: 800px) {
  .sidebarContent {
    width: 80vw;
  }
}

.navTab {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

.navTab > div {
  position: fixed;
  top: 50vh;
  bottom: 50vh;
}

.navGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
}

.gridItem a {
  display: flex;
  color: #000000;
  background-color: #e1e1e1;
  text-align: left;
  align-items: center;
  text-decoration: none;
  margin: 1px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
}

.gridItem a:hover {
  background-color: #cccccc;
}

.sidebarTextContainer > div {
  text-align: right;
  white-space: nowrap;
  margin: 5px;
}
