.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebarContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 45vw;
  height: 100%;
  overflow: auto;
  z-index: 999;
  background-color: white;
}

@media screen and (max-width: 800px) {
  .sidebarContent {
    width: 80vw;
  }
}

.roundButton {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
}

.roundButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.navButton {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 64px;
  height: 64px;
  padding: 8px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}

.navIcon {
  content: url(../../assets/icons/hamburger.svg);
  width: 48px;
  height: 48px;
}

.xButton {
  position: relative;
  top: 1%;
  left: 1%;
  width: 64px;
  height: 64px;
  padding: 8px;
  z-index: 999;
}

.xIcon {
  content: url(../../assets/icons/cross-mark.svg);
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 480px) {
  .navButton {
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  .navIcon {
    width: 24px;
    height: 24px;
  }

  .xButton {
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  .xIcon {
    width: 24px;
    height: 24px;
  }
}

.navGrid {
  margin-top: 20px;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
}

.gridItem {
  height: 50px;
}

.gridItem a {
  display: flex;
  color: #000000;
  background-color: #e1e1e1;
  border: 1px solid #808080;
  text-align: left;
  align-items: center;
  text-decoration: none;
  margin: 1px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gridItem a:hover {
  background-color: #cccccc;
}

.sidebarText {
  text-align: right;
  white-space: nowrap;
}
